<!-- navigation bar -->
<div class="navbar-container">
    <ul class="navbar">
        <li><a href="/">Sparade kurser</a></li>
        <li><a href="/form">Lägg till kurs</a></li>
        <li><a href="/about">Om sidan</a></li>
    </ul>
</div>