<!-- navigation bar -->
<div class="navbar-container">
    <ul class="navbar">
        <a href="/"><li>Sparade kurser</li></a>
        <a href="/form"><li>Lägg till kurs</li></a>
        <a href="/about"><li>Om sidan</li></a>
    </ul>
</div>