<div class="navbar-container">
    <ul class="navbar">
        <li><a href="/">Hem</a></li>
        <li><a href="/about">Om mig</a></li>
        <li><a href="/form">Lägg till</a></li>
    </ul>
</div>