<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om mig</title>
</head>

<body>
    <h1>Om sidan</h1>
    <p>Hej <%= name %>
    </p>
    <ul>
        <li><a href="/">Hem</a></li>
        <li><a href="/about">Om mig</a></li>
    </ul>
    <section>
        <h2>Webbplatsens syfte</h2>
    </section>
    <section>
        <h2>Databas-server</h2>
    </section>
    <section>
        <h2>Slutsatser</h2>
    </section>
</body>

</html>