<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Om mig</title>
</head>

<body>
    <%- include("partials/nav") %>
    <h1>Om sidan</h1>
    <section>
        <h2>Webbplatsens syfte</h2>
    </section>
    <section>
        <h2>Databas-server</h2>
    </section>
    <section>
        <h2>Slutsatser</h2>
    </section>
</body>

</html>