body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 1em 0;
    padding: 1em;
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
}

.message {
    border-radius: 5px;
    padding: 0.5em;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* success message styling */
.success {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
}

/* error message styling */
.error {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}

/* navbar styling */

.navbar-container {
    background-color: #8E4585;
    padding: 1em 2em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    justify-content: start;
    gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0.5rem 1em;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: #a25b9b;
}

/* stored courses page */

table {
    width: 100%;
    border-collapse: collapse;
    margin: 2em 0;
    font-size: 1em;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #9e61a4;
    color: white;
}

th,
td {
    text-align: left;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

td a {
    color: #9e61a4;
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}

button.delete-btn {
    background-color: #e74c3c;
    color: white;
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button.delete-btn:hover {
    background-color: #c0392b;
    transform: scale(1.05);
    cursor: pointer;
}

/* add course form */

.add-course-form {
    width: 40%;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
}

form input,
form select {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-btn {
    border: 1px solid #ccc;
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
    font-size: 1.1em;
}

.form-btn:hover {
    cursor: pointer;
    background-color: aliceblue;
}


/* about page */

.about-container {
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 1em;
    line-height: 1.6;
}

.about-container section {
    margin: 2em 10%;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 1.5em;
}

.about-container h2 {
    font-weight: 700;
}

.about-container p {
    font-size: 1.1rem;
    margin-top: 1rem;
    color: #555;
}

@media (max-width: 768px) {
    .navbar-container {
        width: 100%;
        margin: 0;
        padding: 1em 0;
    }

    .navbar {
        gap: 0.7rem;
    }

    .navbar a {
        font-size: 0.8em;
        padding: 0.2em 1em;
    }

    table {
        margin: 0;
    }

    th,
    td {
        font-size: 0.8em;
    }

    button.delete-btn {
        padding: 0.3em 0.6em;
        font-size: 0.7em;
    }

    .add-course-form {
        width: 70%;
    }

    .add-course-form label {
        margin-top: 1em;
    }

    .add-course-form button {
        margin-top: 3em;
    }

    .about-container {
        padding: 0;
    }

    .about-container section {
        border-radius: 0;
        margin: 0;
    }
}